/* ==========================================================================
    DEFAULT THEME - LIGHT VERSION
    ========================================================================== */
/* Color codes used for the theme */
$primary-color              : #4f775c;
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #4f775c;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #9a5f34;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #fff;
    --global-footer-bg-color            : #edf0f2;
    --global-border-color               : #98a2aa;
    --global-dark-border-color          : #64717a;
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : mix(#fff,  #{$dark-gray}, 25%);
    --global-link-color                 : #4f775c;
    --global-link-color-hover           : #35513f;
    --global-link-color-visited         : #637367;
    --global-masthead-link-color        : #26343b;
    --global-masthead-link-color-hover  : #4f775c;
    --global-text-color                 : #{$dark-gray};
    --global-text-color-light           : #4b5962;
    --global-thead-color                : #e2e7ea;
}

